<p id="notice"><%= notice %></p>

<p>
  <strong>News:</strong>
  <%= @comment.news %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comment.usuario %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @comment.comentario %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
