<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.algo {margin: 50px;}
</style>
<div class="algo">
<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titular, class: 'floatLabel' %>
    <%= form.text_field :titular, id: :news_titular, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :bajada, class: 'floatLabel' %>
    <%= form.text_field :bajada, id: :news_bajada, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :cuerpo, class: 'floatLabel' %>
    <%= form.text_field :cuerpo, id: :news_cuerpo, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
</div>
