
<h1>Sitio Administración</h1>

<table>
  <thead>
    <tr>
      <th>Titular</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= link_to news.titular, news_path(news) %></td>
        <td><%= news.bajada %></td>
        <% if news.cuerpo.length >100 %>
          <% i = 100 %>
          <% while news.cuerpo[i] != " " do %>
            <% i = i - 1%>
          <% end %>
          <td><%= news.cuerpo[0,i]<<'...' %></td>
        <% else %>
          <td><%= news.cuerpo %></td>
        <% end %>
        <td><%= l(news.created_at, format: '%B, %d %Y %H:%M:%S') %></td>
        <td><%= news.opinions.length %></td>
        <% if current_user %>
        <td><%= link_to 'Edit', edit_news_path(news) %></td>
        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <% if current_user.admin %>
    <%= link_to 'Nueva Noticia', new_news_path %>
  <% end %>
<% end %>
<%= link_to 'Back', news_index_path %>
