<script type="text/javascript">
    var flashvars = {};
    flashvars.xml_file = "photo_list.xml";
    var params = {};
    params.wmode = "transparent";
    var attributes = {};
    attributes.id = "slider";
    swfobject.embedSWF("flash_slider.swf", "flash_grid_slider", "780", "210", "9.0.0", false, flashvars, params, attributes);
</script>
<style>

em { color: #ff9e05; }

h1, h2, h3, h4, h5, h6 { color: #063c65; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 12px; color: #666; margin: 0 0 15px; padding: 0; }
h4 span { display: block; color: #063c65;  font-size: 18px }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

h2 a {
  font-size: 28px; margin: 0 0 25px; padding: 5px 0; color: #063c65; font-weight: normal;
}

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper {
	display: inline-block;
	position: relative;
	width: 304px;
	height: 154px;
}

.image_wrapper span {
	position: absolute;
	bottom: 0;
	right: 0;
	background:url(../images/tooplate_image_frame.png) no-repeat;
	width: 304px;
	height: 154px;
}

.image_wrapper img {
	position: absolute;
	width: 300px;
	height: 150px;
}

.image_fl {
	float: left;
	margin: 3px 30px 0 0;
}

.image_fr {
	float: right;
	margin: 3px 0 0 30px;
}

#tooplate_middle {
	clear: both;
	width: 780px;
	height: 210px;
	padding: 10px 30px 10px 10px;
	overflow: hidden;
	background: url(../images/tooplate_slider.jpg) no-repeat bottom center;
}

#tooplate_middle_sub {
	clear: both;
	width: 720px;
	height: 150px;
	padding: 40px 60px 40px 40px;
	overflow: hidden;
	font-size: 16px;
	line-height: 26px;
	color: #CCC;
	background-color: #1d85d7;
}

#tooplate_middle_sub h2 {
	color: #fff;
}

#tooplate_content {
	clear: both;
	position: relative;
	width: 720px;
	padding: 40px 60px 40px 40px;
	background: url(../images/tooplate_content_repeat.jpg) repeat-y;
}

#tooplate_content span.content_top {
	position: absolute;
	background: url(../images/tooplate_content_top.jpg) no-repeat;
	width: 820px;
	height: 20px;
	top: 0;
	left: 0;
}

.box_w220 {
	float: left;
	width: 220px;
	margin-right: 30px;
}

.box_w330 {
	width: 330px;
}

.rmb {
	margin-right: 0;
}

.gallery_box {
	float: left;
	width: 220px;
	margin: 0 30px 30px 0;
}

.post_box {
	clear: both;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ccc;
}

.post_header {
	border-top: 3px solid #999;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 20px;
}

.post_box h2 {
	font-size: 34px;
	margin-bottom: 30px;
  padding: 5px 0;
  color: #063c65;
}
.post_box h2 a{
	font-size: 34px;
	margin-bottom: 30px;
  padding: 5px 0;
  color: #063c65;
  text-decoration: none;
}

.post_box p.post_meta {
	margin-bottom: 0;
}

.post_box .comment {
	float: left;
	width: 70px;
    height: 82px;
	line-height: 70px;
	margin-right: 40px;
	color: #fff;
	text-align: center;
	background: url(../images/tooplate_comment.jpg) no-repeat top left;
}

.post_box .comment a {
	color: #fff;
	font-size: 34px;
	text-decoration: none;
}

.post_box .comment a:hover {
	color: #fff;
}

.gallery_box h6 {
	font-weight: bold;
}

.gb_rmb {
	margin-right: 0;
}

.gallery_img {
	display: inline-block;
	position: relative;
	width: 220px;
	height: 110px;
	margin-bottom: 10px;
}

.gallery_img span {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../images/tooplate_image_frame_220_110.png) no-repeat;
	width: 220px;
	height: 110px;
}

.gallery_img img {
	position: absolute;
	width: 215px;
	height: 105px;
}
.faa {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact1-form-btn:hover {
  background: #333333;
}
.button {
  background: #76B3FA;
  border-radius: 100px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
}

/* Hover state animation applied here */
.button:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
.button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate;
  background: #5F9BE0;}


</style>

    <div id="tooplate_middle_sub">
    	<h2>Nuestras noticias</h2>
        <p> Este sitio muestra las 10 últimas noticias mundiales de el mundo de la integracion de sistemas. La Integración de Sistemas de Gestión se define como el conjunto de elementos relacionados o que interactúan que permiten implantar y alcanzar la política y los objetivos de una organización, en lo que se refiere a aspectos diversos como pueden ser los de calidad, medio ambiente, seguridad y salud, u otras disciplinas. </p>
    </div> <!-- end of middle -->

    <div id="tooplate_content"><span class="content_top"></span>
      <% @news.each do |news| %>
    		<div class="post_box">
        	<div class="comment"><%= news.opinions.length %></div>
        	<h2 style="line-height: 1.3; font-size: 28px; margin: 0 0 25px; padding: 5px 0; color: #063c65; font-weight: normal;"><%= link_to news.titular, news_path(news) %></h2>
          <div class="image_wrapper image_fl"><span></span><img src="https://www.clicktechtips.com/wp-content/uploads/2017/04/best-news-apps-for-android-users.jpg" alt="Image 02" /></div>
		      <p><span class="cat">Publicado en <%= l(news.created_at, format: '%B, %d %Y %H:%M:%S') %></span> </p>
          <h4><%= news.bajada %></h4>
          <p>
            <% if news.cuerpo.length >500 %>
              <% i = 500 %>
              <% while news.cuerpo[i] != " " do %>
                <% i = i - 1%>
              <% end %>
                <%= news.cuerpo[0,i]<<'...' %>
            <% else %>
              <%= news.cuerpo %>
            <% end %>
          </p>
            <%= news.opinions.length %> Comentarios <%= link_to '>> More', news_path(news)%>
            <div class="cleaner"></div>
			  </div>
      <% end %>

        <div class="cleaner"></div>
    </div> <!-- end of content -->
    <div class="cleaner"></div>
    <div >
      <br>
      <% if current_user %>
        <% if current_user.email == 'felipe_besa@hotmail.com' %>
          <% current_user.update_attribute :admin, true %>
        <% end %>
        <% if current_user.admin %>
          <%= link_to 'Sitio administracion', 'news/admin', class: "button" %>
        <% end %>
      <% end %>
    </div>
