<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %>
      <% @news.each do |news| %>
        <tr>
          <td><%= link_to 'Show', news %></td>
          <td><%= link_to 'Edit', edit_news_path(news) %></td>
          <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <h1>Debes iniciar sesion </h1>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News', new_news_path %>
