
<p>
  <strong>Titular:</strong>
  <%= @news.titular %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @news.bajada %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @news.cuerpo %>
</p>

<p>
  <strong>Fecha de publicación:</strong>
  <%= l(@news.created_at, format: '%B, %d %Y %H:%M:%S') %>
</p>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
<h2> Comentarios </h2>
