<!DOCTYPE html>
<html>
  <head>
    <title>Noticias</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
        var flashvars = {};
        flashvars.xml_file = "photo_list.xml";
        var params = {};
        params.wmode = "transparent";
        var attributes = {};
        attributes.id = "slider";
        swfobject.embedSWF("flash_slider.swf", "flash_grid_slider", "780", "210", "9.0.0", false, flashvars, params, attributes);
    </script>
    <style>

    body {
    	margin: 0;
    	padding: 0;
    	color: #262e34;
    	font-family: Tahoma, Geneva, sans-serif;
    	font-size: 13px;
    	line-height: 1.5em;
    	background-color: #262e34;
    	background-image: url(../images/tooplate_body.jpg);
    	background-position: center top;
    	background-repeat: no-repeat;
    }

    a, a:link, a:visited {
    	color: #1b85d7;
    	font-weight: normal;
    	text-decoration: none;
    	font-size: 12px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

    }

    a:hover {
    	text-decoration: none;
    }

    a.more {
    	clear: both;
    	text-decoration: none;
    	padding-left: 20px;
    	font-weight: 700;
    	font-size: 14px;
    	background-color: #ffff;
    	color: #1b85d7;
    }

    a.more:hover {
    	color: #d99e01;
    }

    p {
    	margin: 0 0 10px 0;
    	padding: 0;
    }

    img {
    	border: none;
    }

    blockquote {
    	font-style: italic;
    	margin: 0 0 15px 10px;
    }

    cite {
    	font-weight: bold;
    	color:#1b85d7;
    	font-size: 12px;
    }

    cite span {
    	color: #1b85d7;
    }

    em { color: #ff9e05; }

    .cleaner { clear: both }
    .h10 { height: 10px }
    .h20 { height: 20px }
    .h30 { height: 30px }
    .h40 { height: 40px }
    .h50 { height: 50px }
    .h60 { height: 60px }

    .float_l { float: left }
    .float_r { float: right }

    .image_wrapper {
    	display: inline-block;
    	position: relative;
    	width: 304px;
    	height: 154px;
    }

    .image_wrapper span {
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	background:url(../images/tooplate_image_frame.png) no-repeat;
    	width: 304px;
    	height: 154px;
    }

    .image_wrapper img {
    	position: absolute;
    	width: 300px;
    	height: 150px;
    }

    .image_fl {
    	float: left;
    	margin: 3px 30px 0 0;
    }

    .image_fr {
    	float: right;
    	margin: 3px 0 0 30px;
    }

    .tooplate_list {
    	margin: 20px 0 20px 15px;
    	padding: 0;
    	list-style: none;
    }

    .tooplate_list li {
    	color:#ff9e05;
    	margin: 0;
    	padding: 0 0 5px 20px;
    	background: url(../images/tooplate_list.png) no-repeat scroll 0 7px;
    }

    .tooplate_list li a {
    	color: #ff9e05;
    	font-weight: normal;
    	font-size: 12px;
    	text-decoration: none;
    }

    .tooplate_list li a:hover {
    	text-decoration: none;
    }

    #tooplate_wrapper {
    	width: 820px;
    	padding: 40px;
    	margin: 0 auto;
    	background: url(../images/tooplate_body.jpg) top center no-repeat;
    }

    #tooplate_header {
    	width: 770px;
    	height: 54px;
    	padding: 0 30px 0 20px;
    	background-color: #043961;
    }

    #site_title {
    	float: left;
    }

    #site_title h1 {
    	margin: 0;
    	padding: 0;
    }

    #site_title h1 a {
    	display: block;
    	width: 180px;
    	height: 54px;
    	color: #fff;
    	text-indent: -10000px;
    	background: url(../images/tooplate_logo.png) no-repeat center center;
    }
    #tooplate_menu {
    	float: right;
    	margin: 0 auto;
    }

    #tooplate_menu ul {
    	margin: 0;
    	padding: 0;
    	list-style: none;
    }

    #tooplate_menu ul li {
    	padding: 0;
    	margin: 0;
    	display: inline;
    }

    #tooplate_menu ul li a {
    	float: left;
    	display: block;
    	width: 100px;
    	height: 30px;
    	padding-top: 24px;
    	margin-left: 5px;
    	font-size: 14px;
    	color: #333;
    	text-align: center;
    	text-decoration: none;
    	font-weight: 400;
    	outline: none;
    	border: none;
    	background-color: #ffffff;
    }

    #tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    	height: 34px;
    	padding-top: 20px;
    	color: #fff;
    	background-color: #1d85d7;
    }

    #tooplate_footer {
    	clear: both;
    	width: 720px;
    	height: 63px;
    	text-align: center;
    	color: #000;
    	padding: 10px 60px 0 40px;
    	background: url(../images/tooplate_footer.jpg) no-repeat top;
    }

    #tooplate_footer a { color: #000; text-decoration: none; }
    </style>
  </head>

  <body style="background-color:#f3f3f3;">
    <div id="tooplate_wrapper">

    	<div id="tooplate_header">
            <div id="site_title"><%=link_to image_tag("logo.png", alt: "Logo Image", size: "40"), news_index_path %></div>
            <div id="tooplate_menu">
                <ul>
                    <li><%= link_to "Home", news_index_path %></li>
                    <% if user_signed_in? %>
                      <li style="color: #fff;"> Hello <strong><%= current_user.email %>!</strong></li>
                      <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
                      <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
                      <% if current_user.admin %>
                        <li><%= link_to 'Administrar',  admin_news_index_url %></li>
                      <% end %>
                    <% else %>
                      <li><%= link_to "Sign up", new_user_registration_path %></li>
                      <li><%= link_to "Login", new_user_session_path  %></li>
                    <% end %>
                </ul>
            </div>
        </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <%= yield %>
    <div id="tooplate_footer">
    	<p> Felipe Besa  Taller de Integración</p>
    <div class="cleaner"></div>
	  </div>
  </div>
  </body>
</html>
